# Project Configuation
PROJECT_NAME=movie-mart-pipeline

# Docker API
DOCKER_API_VERSION=1.44

# PostgreSQL Configuration
POSTGRES_USER=<change_username>
POSTGRES_PASSWORD=<change_password>
POSTGRES_DB=movie_db
POSTGRES_PORT=5430

# Airflow
AIRFLOW_UID=50000
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=<change_password>
AIRFLOW_ADMIN_EMAIL=<change_email>
AIRFLOW_SECRET_KEY=<generate_secret_key>
AIRFLOW_LOAD_EXAMPLES=False
AIRFLOW_WEBSERVER_PORT=8082

# dbt Configuration
DBT_TARGET=dev


# Run Command on terminal to generate secret key
# python -c "import secrets; print(secrets.token_urlsafe(32))"