# Project Configuation
PROJECT_NAME=movie-mart-pipeline
DOCKER_API_VERSION=1.44

# PostgreSQL (Superadmin)
POSTGRES_USER=<change_username>
POSTGRES_PASSWORD=<change_password>
POSTGRES_DB=movie_db
POSTGRES_PORT=5430

# ETL Role (PySpark Ingestion)
ETL_DB_USER=etl
ETL_DB_PASSWORD=<change_password>

# dbt Role (Transformation)
DBT_DB_USER=dbt
DBT_DB_PASSWORD=<change_password>

# Airflow Role (DB Access)
ORCHESTRATOR_DB_USER=airflow
ORCHESTRATOR_DB_PASSWORD=<change_password>

# Analytics Role (BI / Dashboards)
ANALYTICS_DB_USER=analytics_reader
ANALYTICS_DB_PASSWORD=<change_password>

# Airflow Web UI
AIRFLOW_UID=50000
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=<change_password>
AIRFLOW_ADMIN_EMAIL=<change_email>
AIRFLOW_SECRET_KEY=<generate_secret_key>
AIRFLOW_LOAD_EXAMPLES=False
AIRFLOW_WEBSERVER_PORT=8082

# dbt Configuration
DBT_TARGET=dev


# Run Command on terminal to generate secret key
# python -c "import secrets; print(secrets.token_urlsafe(32))"